@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
}

.Country {
  width: 100%;
  height: 100%;
  background-color: #e3dede;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 150px;
  &-Title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #03a6ff;
    padding-top: 35px;
  }
}