.Country {
  width: 100%;
  height: 100%;
  background-color: #e3dede;
  justify-content: center;
  text-align: center;
  align-items: center;
  &-Title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    color: cyan;
  }
}